extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h3 Lista de Grupos
        if grupos.length > 0 
         each grupo in grupos
          ul
            li 
              b Grupo: 
              | 
              a(href=`/repositorio/grupo/${grupo.s.value.split("#")[1]}`) #{grupo.s.value.split("#")[1]}
        else
            div(class="w3-container")
                p Não há grupos ...
        a(href=`/repositorio` ) 
            button(class="w3-btn w3-teal" type="submit" style="margin:20px") Voltar ao inicio 
    footer(class="w3-container w3-teal")
        address Gerado por galuno :: 2021-Março, Luis Ramos