extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Repositorio #{tit}
      ul
        li 
          a(href=`/repositorio/elementos`) Elementos 
        li 
          a(href=`/repositorio/grupos`) Grupos
        li 
          a(href=`/repositorio/periodos`) Períodos
      
      a(href=`/` ) 
        button(class="w3-btn w3-teal" type="submit" style="margin:20px") Voltar ao inicio 
    footer(class="w3-container w3-teal")
        address Gerado por galuno :: 2021-Março, Luis Ramos